.experience-section {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 1rem;
    background-color: #fff;
    box-sizing: border-box;
    margin-top: 50px;
}

.experience-section h2 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    color: #696765;
    text-align: center;
    font-weight: bold;
}

.experience-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.experience-card {
    background: #f39c12;
    padding: 1.8rem;
    border-radius: 18px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.experience-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 14px 30px rgba(202, 85, 85, 0.6);
}

.card-header h3 {
    margin: 0;
    font-size: 1.3rem;
    color: white;
}

.exp-date {
    font-size: 0.85rem;
    color: #d6dde4;
    margin-bottom: 0.7rem;
}

ul {
    margin-top: 0.5rem;
    padding-left: 1.2rem;
    color: white;
    line-height: 1.5;
}