.filters {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0;
    background: white;
    color: black;
    margin-top: 20px;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
}

.filters button {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem;
    position: relative;
}

.filters button:hover {
    background-color: #f39c12;
    border-radius: 5px;
    transition: 0.3s;
    color: white;
}