.my-story {
    background-color: #ffffff;
    letter-spacing: 1.5px;
    text-align: start;
    font-family: 'Roboto', sans-serif;
}

.about-container {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.about-column {
    flex: 1;
    min-width: 300px;
}

.story-column {
    flex: 1;
    min-width: 300px;
    padding: 5px;
}