.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: #222;
    color: white;
}

.navbar-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.navbar-links a:hover {
    /*text-decoration: underline;*/
    color: #f39c12;
}