.portfolio {
    padding: 24rem;
    background-image: url('../assets/code-background.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 150px 20px 60px;
    position: relative;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    padding: 60px 20px;
}

.overlay h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    letter-spacing: 2px;
}

.overlay p {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.1rem;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0;
    background: white;
    color: black;
    flex-wrap: wrap;
}

.filters button {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem;
    position: relative;
}

.filters button.active::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: black;
}